flask==2.2.2
gunicorn==20.1.0
chromadb==0.4.15
langchain==0.0.304
langchain_openai==0.0.5
langchain_google_genai==0.0.3
sentence-transformers==2.2.2
PyPDF2==3.0.1
fastapi==0.95.2
uvicorn==0.22.0
pypdf==3.1.0
requests==2.31.0
python-multipart
pydantic<3 and >=1
